{{- /* Heading anchor: every H2-H4 gets a hover # icon you can click to copy the section URL.
     The # icon is invisible by default; it appears on hover of the heading row. */ -}}
{{- $level := .Level -}}
{{- $anchor := .Anchor -}}
{{- $text := .Text -}}
{{- if le $level 4 -}}
<h{{ $level }} id="{{ $anchor }}" class="heading-anchor">
  {{- $text | safeHTML -}}
  <a href="#{{ $anchor }}" class="heading-link" aria-label="Permalink to this section" title="Copy link to this section">#</a>
</h{{ $level }}>
{{- else -}}
<h{{ $level }} id="{{ $anchor }}">{{ $text | safeHTML }}</h{{ $level }}>
{{- end -}}
