{{- $key := .Get 0 | default "tip" -}}
{{- $title := .Get 1 -}}
<aside class="callout callout-{{ $key }}">
  <div class="callout-header">
    <span class="callout-icon" aria-hidden="true">
      {{- if eq $key "tip" -}}&#x2728;
      {{- else if eq $key "warning" -}}&#x26A0;&#xFE0F;
      {{- else if eq $key "note" -}}&#x270D;&#xFE0F;
      {{- else if eq $key "danger" -}}&#x1F6D1;
      {{- else if eq $key "info" -}}&#x2139;&#xFE0F;
      {{- else -}}&#x1F4A1;
      {{- end -}}
    </span>
    <span class="callout-title">{{ if $title }}{{ $title }}{{ else }}{{ humanize $key }}{{ end }}</span>
  </div>
  <div class="callout-body">{{ .Inner | markdownify }}</div>
</aside>
