<% if (page.total > 1) { %>
<nav class="pagination">
  <% if (page.prev) { %>
    <a href="<%= url_for(page.prev_link) %>" class="pagination-prev" data-i18n="pagination.newer">&larr; Newer</a>
  <% } else { %>
    <span class="pagination-prev disabled" data-i18n="pagination.newer">&larr; Newer</span>
  <% } %>

  <span class="pagination-info"><span data-i18n="pagination.page">Page</span> <%= page.current %> <span data-i18n="pagination.of">of</span> <%= page.total %></span>

  <% if (page.next) { %>
    <a href="<%= url_for(page.next_link) %>" class="pagination-next" data-i18n="pagination.older">Older &rarr;</a>
  <% } else { %>
    <span class="pagination-next disabled" data-i18n="pagination.older">Older &rarr;</span>
  <% } %>
</nav>
<% } %>
