<% if (page.total > 1) { %>
<nav class="pagination">
  <% if (page.prev) { %>
    <a href="<%= url_for(page.prev_link) %>" class="pagination-prev">&larr; Newer</a>
  <% } else { %>
    <span class="pagination-prev disabled">&larr; Newer</span>
  <% } %>

  <span class="pagination-info">Page <%= page.current %> of <%= page.total %></span>

  <% if (page.next) { %>
    <a href="<%= url_for(page.next_link) %>" class="pagination-next">Older &rarr;</a>
  <% } else { %>
    <span class="pagination-next disabled">Older &rarr;</span>
  <% } %>
</nav>
<% } %>
